.cont1{
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont2{
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.lightBtn{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: black;
  color: cyan;
  transition-duration:0.50s ;
}
.lightBtn:hover{
  -webkit-box-shadow: 1px 9px 16px -4px rgba(0,242,255,1);
-moz-box-shadow: 1px 9px 16px -4px rgba(0,242,255,1);
box-shadow: 1px 9px 16px -4px rgba(0,242,255,1);
}

.darkBtn{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  border: 2px solid cyan;
  color: rgb(0, 225, 255);
  transition-duration:0.50s ;
}

.darkBtn:hover{
  -webkit-box-shadow: 1px 9px 16px -4px rgba(0,242,255,1);
-moz-box-shadow: 1px 9px 16px -4px rgba(0,242,255,1);
box-shadow: 1px 9px 16px -4px rgba(0,242,255,1);
}

.txt{
  color: white;
}
.lightmodetext{
  margin-bottom: 20px;
  color: black;
}
.darkmodetxt{
  margin-bottom: 20px;
  color: cyan;
}